<div class="container">
  <h1>My pending bookings</h1>
  <% @bookings.each do |booking| %>
    <div class="row">
      <div class="col-12">
        <div class="card" style="background-image: url('<%= cl_image_path booking.human.photo.key, :crop=>"fit" %>');">
          <h2><%= booking.human.name %></h2>
          <p><%= booking.start_date %> till <%= booking.end_date %></p>
          <p><%= booking.status %></p>
          <p> $ <%= booking.total_price %></p>
          <%= link_to booking.human.name, booking_path(booking), class: 'card-link' %>
        </div> 
      </div>
    </div>
  <% end %>

  <h1>Bookings for My Humans</h1>
  <% @bookings.each do |booking| %>
    <% if booking.human.user == current_user %>
      <div class="row">
        <div class="col-12">
          <div class="card" style="background-image: url('https://source.unsplash.com/500x400/?human');">
            <h2><%= booking.human.name %></h2>
            <p><%= booking.start_date %> till <%= booking.end_date %></p>
            <p><%= booking.status %></p>
            <p><%= booking.total_price %>
            <%= link_to "Accept", booking_path(booking, status: "Accepted"), method: :patch %>
            <%= link_to "Decline", booking_path(booking, status: "Rejected"), method: :patch %>
          <div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to "Home", humans_path %>
</div>


