<h2>My Booking</h2>

<h3> Human name </h3>
<p> <%= @human.name %> </p>

<h3> Description </h3>
<p> <%= @human.description %> </p>

<h3> Date </h3>
<p> <%= @booking.start_date %> to <%= @booking.end_date %> </p>

<h3> Total price </h3>
<p> <%= @booking.total_price %> dollar </p>
<%# need to add icon for doge dollar %>

<h3> Status </h3>
<p> <%= @booking.status %> by <%= @human.name %> </p>

<%= link_to "Review", new_booking_review_path(@booking) %> | 
<%= link_to "Back to list", bookings_path %>
