
<div class="container mt-3">
    <h1><%= @human.name %></h1>
    <div class="row">
        <div class="col-12">
            <h2><%= @human.description %></h2>
            <h2><%= @human.address %></h2>
            <h2><%= @human.rate %></h2>
        </div>
        <%= link_to "Edit", edit_human_path(@human)  %> |
        <%= link_to "Delete", human_path(@human),
            method: :delete,
            data: { confirm: "Are you sure?" } %> </li> |
        <%= link_to "Back to list", humans_path %>
    </div>
</div>

